asgiref==3.8.1
backports.zoneinfo==0.2.1
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==42.0.8
decouple==0.0.7
Django==4.2.16
django-extensions==3.2.3
idna==3.10
MarkupSafe==2.1.5
pycparser==2.22
pyOpenSSL==24.1.0
python-decouple==3.8
requests==2.32.3
sqlparse==0.5.1
typing-extensions==4.12.2
urllib3==2.2.3
werkzeug==3.0.2
